<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
	<link rel="stylesheet" href="../../css/buttons/css/buttons.css">
	<link rel="stylesheet" href="../../css/common/css/common.css">
	<link rel="stylesheet" href="../../css/shell/css/shell.css">	
	<link rel="stylesheet" href="css/navbar.css">	
	<!--link rel="stylesheet" href="css/shell.css"-->
	<script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function(){
			$('#style-helper div').hide('fast');
			$('#style-helper div#page').show('medium');
			$('#background-switch')
			.change(function() {
				var t = $('table').removeClass('page-header').removeClass('page').removeClass('inverse');
				if(this.value==='#header'){
					t.addClass('page-header');
					$('#style-helper div').hide('fast');
					$('#style-helper div#header').show('fast');
				} else if(this.value==='#page'){
					t.addClass('page');
					$('#style-helper div').hide('fast');
					$('#style-helper div#page').show('fast');
				} else if(this.value==='#footer'){
					t.addClass('inverse');
					$('#style-helper div').hide('fast');
					$('#style-helper div#footer').show('fast');
				}
			})
		});
	</script>	
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
			<li><a href="#">Link</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">One more separated link</a></li>
			  </ul>
			</li>
		  </ul>
		  <form class="navbar-form navbar-left">
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		  </form>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#">Link</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			  </ul>
			</li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	<div class="container" style="overflow-y:auto">
		<div class="page-header" style="background: transparent"><h1>Buttons</h1></div>
		<section>
			<label>Inverse Background</label>
			<select id="background-switch">
				<option value="#header">Header</option>
				<option value="#page" selected>Page</option>
				<option value="#footer">Footer</option>
			</select>
			<div id="style-helper">
				<div id="header" class="page-header" style="margin:0; padding:5px">
					color: #666;<br>
					background-color: #eff4f9;
				</div>
				<div id="page" class="page" style="margin:0; padding:5px">
					color: #333;<br>
					background-color: #fafafa;
				</div>
				<div id="footer" class="inverse" style="margin:0; padding:5px">
					background-color: #2f3c48;<br>
					color: #cae4fb;
				</div>
			</div>			
		</section>
		<section>
			Sample content
		</section>
	</div>
</body>
</html>