.form-horizontal {
	padding: 15px;
} 

@media (max-width: 768px){
	.form-group .col-xs-1:not(label), .form-group .col-sm-1:not(label), .form-group .col-xs-2:not(label), .form-group .col-sm-2:not(label), .form-group .col-xs-3:not(label), .form-group .col-sm-3:not(label), .form-group .col-xs-4:not(label), .form-group .col-sm-4:not(label), .form-group .col-xs-5:not(label), .form-group .col-sm-5:not(label), .form-group .col-md-5:not(label), .form-group .col-xs-6:not(label), .form-group .col-sm-6:not(label), .form-group .col-xs-7:not(label), .form-group .col-sm-7:not(label), .form-group .col-xs-8:not(label), .form-group .col-sm-8:not(label), .form-group .col-xs-9:not(label), .form-group .col-sm-9:not(label), .form-group .col-xs-10:not(label), .form-group .col-sm-10:not(label), .form-group .col-xs-11:not(label), .form-group .col-sm-11:not(label), .form-group .col-xs-12:not(label), .form-group .col-sm-12:not(label){
		margin-top: 2px;
		margin-bottom: 12px;
	}
	.form-group .col-xs-1.form-control-static, .form-group .col-sm-1.form-control-static, .form-group .col-xs-2.form-control-static, .form-group .col-sm-2.form-control-static, .form-group .col-xs-3.form-control-static, .form-group .col-sm-3.form-control-static, .form-group .col-xs-4.form-control-static, .form-group .col-sm-4.form-control-static, .form-group .col-xs-5.form-control-static, .form-group .col-sm-5.form-control-static, .form-group .col-md-5.form-control-static, .form-group .col-xs-6.form-control-static, .form-group .col-sm-6.form-control-static, .form-group .col-xs-7.form-control-static, .form-group .col-sm-7.form-control-static, .form-group .col-xs-8.form-control-static, .form-group .col-sm-8.form-control-static, .form-group .col-xs-9.form-control-static, .form-group .col-sm-9.form-control-static, .form-group .col-xs-10.form-control-static, .form-group .col-sm-10.form-control-static, .form-group .col-xs-11.form-control-static, .form-group .col-sm-11.form-control-static, .form-group .col-xs-12.form-control-static, .form-group .col-sm-12.form-control-static{
		margin-top: 2px;
		margin-bottom: 12px;
	}
	.form-horizontal .radio, .form-horizontal .checkbox {
		padding-top: 0;
	}
}

@media (min-width: 768px){
	.form-horizontal .control-label {
		margin-bottom: initial;
		text-align: end;
		padding-top: 0.75rem;
	}
	.form-group{
		display: flex;
	}
	.form-horizontal .form-group .form-control-static {
		margin-top: 0.875rem;
	}
	.form-horizontal .radio, .form-horizontal .checkbox {
		padding-top: 0.7rem;
	}
}

.form-group .col-xs-1, .form-group .col-sm-1, .form-group .col-md-1, .form-group .col-lg-1, .form-group .col-xs-2, .form-group .col-sm-2, .form-group .col-md-2, .form-group  .col-lg-2, .form-group .col-xs-3, .form-group .col-sm-3, .form-group .col-md-3, .form-group .col-lg-3, .form-group .col-xs-4, .form-group .col-sm-4, .form-group .col-md-4, .form-group col-lg-4, .form-group .col-xs-5, .form-group .col-sm-5, .form-group .col-md-5, .form-group .col-lg-5, .form-group .col-xs-6, .form-group .col-sm-6, .form-group .col-md-6, .form-group .col-lg-6, .form-group .col-xs-7, .form-group .col-sm-7, .form-group .col-md-7, .form-group .col-lg-7, .form-group .col-xs-8, .form-group .col-sm-8, .form-group .col-md-8, .form-group .col-lg-8, .form-group .col-xs-9, .form-group .col-sm-9, .form-group .col-md-9, .form-group .col-lg-9, .form-group .col-xs-10, .form-group .col-sm-10, .form-group .col-md-10, .form-group .col-lg-10, .form-group .col-xs-11, .form-group .col-sm-11, .form-group .col-md-11, .form-group .col-lg-11, .form-group .col-xs-12, .form-group .col-sm-12, .form-group .col-md-12, .form-group .col-lg-12{
	padding-right: 4px;
	padding-left: 4px;
	margin-top: 3px;
	margin-bottom: 3px;
}
	
.form-group {
	margin-bottom: 0;
	line-height: initial;
}

.form-horizontal .form-group{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 0;
	margin-right: 0;
}

.form-control {
	margin: 0.25 0;
	height: 2.5rem;
	color: #000;
	background: #fff;
	border: 1px solid #bfbfbf;
	border-radius: 0;
	vertical-align: top;
	font-size: 0.875rem;
	line-height: normal;
	padding: 0 0.75rem;
	box-shadow: none;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: default;
	background-color: #fff;
    opacity: 0.5;
}

.form-control[readonly] {
	border-color: #ccc;
    background-color: rgba(242,242,242,0.5);
}

.form-control:not([disabled]):not([readonly]):hover{
	background: #fff;
	border-color: #427cac;
}

.form-control:focus{
	outline: 1px dotted #000000;
	outline-offset: -3px;
	border-color: #427cac;
	box-shadow: none;
}

form .control-label:after,
.form-inline .control-label:after,
.form-horizontal .control-label:after{
	content: ':';
}

.form-horizontal .control-label {
	margin: 0.2rem 0;
	padding-right: 0;
	color: #666666;
	font-size: 0.875rem;
	font-weight: normal;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: text;
}

form legend, .form-inline legend, .form-horizontal legend {
	font-size: 1.125rem;
	border: none; 
	margin-bottom: 15px;
}

form h1,form h2,form h3,form h4,form h5,form h6{
	padding: 0 1rem;
	border-bottom: 1px solid #ccc;
	color: #333;
	height: 3rem;
	line-height: 3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.form-control-static {
	font-size: 0.875rem;
	padding-top: 0;
	padding-bottom: 0;
	min-height: initial;
}

.form-horizontal .radio, .form-horizontal .checkbox {
	padding-left: 20px;	
}

.radio label, .checkbox label {
	padding-left: 0;
}

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"].disabled, input[type="checkbox"].disabled, fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"],
.radio[disabled] label, .checkbox[disabled] label {
	cursor: default;	
}


textarea.form-control {
	padding: 0.625rem 0.75rem;
    resize: none;
    max-height: calc(100vh - 6rem);
    overflow: hidden;
}